.row {
    display: flex;
    gap: 5px;
}


.square {
    width : 30px;
    height : 30px;
    border : 1px solid black;
    
    text-transform: uppercase;
    text-justify: center;
    text-align: center;
    font-size: 24px;
    gap: 5px;
}


.grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
